@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


:root {
    --cor-primaria: #13005A;
    --cor-secundaria: #c6efff;
    --cor-terciaria: #03C988;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


 * {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 3% 0% 0% 16%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--cor-terciaria);;
    text-decoration: none;
}


.apresentacao {
    padding: 6% 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.imagem__Ryan {
    border-radius: 15px;
    filter: contrast(120%);
    width: 40%;
    height: 35%;
}

.apresentacao__conteudo {
    width: 54%;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.125rem;
    font-family:var(--fonte-primaria);
    font-weight: 300;
}

.paragrafos{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.apresentacao__conteudo__texto {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    line-height: 1.7;
}

.rodape {
    background-color: var(--cor-terciaria);;
    color: var(--cor-primaria);;
    padding: 1.4%;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 1.25rem;
}


@media (max-width: 1000px){
    .cabecalho {
        padding: 12% 0% 7% 0%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 7% 7%; /*1 vertical, 2 horizontal*/
    }

    .imagem__Ryan {
        width: 310px;
        height: 330px;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.90rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 0.95rem;
    }

    .rodape {
        font-size: 1rem;
    }
}